openapi: 3.0.1
info:
  title: Explore education statistics - public data API
  version: 1.0.0
  description: >
    This is a draft specification for the upcoming public data API for the EES platform.
  contact:
    name: Explore education statistics
    email: explore.statistics@education.gov.uk
    url: https://explore-education-statistics.service.gov.uk
servers:
  - url: https://ees-api-mock.ambitiousocean-cb084d07.uksouth.azurecontainerapps.io/
    description: Mock API
tags:
  - name: Publication
    description: Operations related to publications.
  - name: Data Set
    description: Operations related to data sets and their querying.
paths:
  /api/v1/publications:
    get:
      operationId: ListPublications
      summary: List publications
      description: Lists details about publications with data available for querying.
      tags:
        - Publication
      parameters:
        - name: page
          in: query
          description: The page of results to fetch.
          required: false
          schema:
            type: number
            minimum: 1
        - name: pageSize
          in: query
          description: The maximum number of results per page.
          required: false
          schema:
            type: number
            minimum: 0
            maximum: 40
            default: 20
        - name: search
          in: query
          description: A search term to find matching publications.
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedPublicationSummaryViewModel'
  /api/v1/publications/{publicationId}:
    get:
      operationId: GetPublication
      summary: Get a publication's details
      description: Gets a specific publication's details.
      tags:
        - Publication
      parameters:
        - name: publicationId
          in: path
          description: The ID of the publication.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicationSummaryViewModel'
  /api/v1/publications/{publicationId}/data-sets:
    get:
      operationId: ListPublicationDataSets
      summary: List a publication's data sets
      description: Lists summary details of all the data sets related to a publication.
      tags:
        - Publication
      parameters:
        - name: publicationId
          in: path
          description: The ID of the publication.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataSetViewModel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/data-sets/{dataSetId}:
    get:
      operationId: GetDataSet
      summary: Get a data set's summary
      description: Gets a specific data set's summary details.
      tags:
        - Data Set
      parameters:
        - name: dataSetId
          in: path
          description: The ID of the data set.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSetViewModel'
  /api/v1/data-sets/{dataSetId}/query:
    post:
      operationId: QueryDataSet
      summary: Query a data set
      description: Query a data set, returning the filtered results.
      tags:
        - Data Set
      parameters:
        - name: dataSetId
          in: path
          description: The ID of the data set.
          required: true
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          description: The page of results to fetch.
          required: false
          schema:
            type: number
            minimum: 1
        - name: pageSize
          in: query
          description: The maximum number of results per page.
          required: false
          schema:
            type: number
            minimum: 0
            maximum: 1000
            default: 500
        - name: Accept
          in: header
          description: The media type to format the data in. Use `text/csv` to return data in CSV format.
          schema:
            type: string
            default: application/json
            enum:
              - '*/*'
              - application/json
              - text/csv
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataSetQuery'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSetResultsViewModel'
            text/csv:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/v1/data-sets/{dataSetId}/file:
    get:
      operationId: GetDataSetFile
      summary: Get a data set's underlying CSV file
      description: Get a data set's underlying file (as a csv contained inside a zip).
      tags:
        - Data Set
      parameters:
        - name: dataSetId
          in: path
          description: The ID of the data set.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success. A zip containing the underlying data set file.
          content:
            application/zip:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  '/api/v1/data-sets/{dataSetId}/meta':
    get:
      operationId: GetDataSetMeta
      summary: Get a data set's metadata
      description: Get the metadata about a data set. Use this to create data set queries.
      tags:
        - Data Set
      parameters:
        - name: dataSetId
          in: path
          description: The ID of the data set.
          required: true
          schema:
            type: string
            format: uuid
        - name: showFilterIds
          in: query
          description: Include filter IDs in the response (defaults to false).
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSetMetaViewModel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    BadRequest:
      description: Bad Request. Usually indicates a validation error or a malformed request.
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ApiErrorViewModel'
    NotFound:
      description: Not Found. Indicates that a specified resource could not be found.
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ApiErrorViewModel'
  schemas:
    ApiErrorViewModel:
      type: object
      description: Describes an error returned from the API.
      required:
        - type
        - title
        - status
      properties:
        type:
          type: string
          description: The type of error.
        title:
          type: string
          description: The title of the error.
        status:
          type: number
          description: The HTTP status code.
        errors:
          $ref: '#/components/schemas/ErrorDictionary'
    DataSetQuery:
      type: object
      description: A query for data from a data set matching specific facets.
      required:
        - query
        - indicators
      properties:
        query:
          type: object
          description: A query to match results by.
          oneOf:
            - $ref: '#/components/schemas/DataSetQueryConditions'
            - $ref: '#/components/schemas/DataSetQueryCriteria'
        indicators:
          type: array
          description: The IDs or names of indicators to get values for.
          items:
            type: string
        sort:
          type: array
          description: | 
            List of sorts to apply to results. Sorts at the start of the list will be applied first.
            By default, results are sorted by time period in descending order.
          items:
            $ref: '#/components/schemas/DataSetQuerySort'
      additionalProperties: false
    DataSetQueryConditions:
      type: object
      description: Describes a list of query conditions.
      oneOf:
        - $ref: '#/components/schemas/DataSetQueryConditionsAnd'
        - $ref: '#/components/schemas/DataSetQueryConditionsOr'
    DataSetQueryConditionsAnd:
      type: object
      description: Describes a list of query conditions, combined with AND operators.
      required:
        - and
      properties:
        and:
          type: array
          description: A list of conditions where only one condition can be true.
          items:
            oneOf:
              - $ref: '#/components/schemas/DataSetQueryConditions'
              - $ref: '#/components/schemas/DataSetQueryCriteria'
      additionalProperties: false
    DataSetQueryConditionsOr:
      type: object
      description: Describes a list of query conditions, combined with OR operators.
      required:
        - or
      properties:
        or:
          type: array
          description: A list of conditions where only one condition can be true.
          items:
            oneOf:
              - $ref: '#/components/schemas/DataSetQueryConditions'
              - $ref: '#/components/schemas/DataSetQueryCriteria'
      additionalProperties: false
    DataSetQueryCriteria:
      type: object
      description: A set of criteria to match query results to. All parts must resolve to true to match.
      properties:
        filters:
          $ref: '#/components/schemas/DataSetQueryCriteriaFilters'
        locations:
          $ref: '#/components/schemas/DataSetQueryCriteriaLocations'
        geographicLevels:
          $ref: '#/components/schemas/DataSetQueryCriteriaGeographicLevels'
        timePeriods:
          $ref: '#/components/schemas/DataSetQueryCriteriaTimePeriods'
      additionalProperties: false
    DataSetQueryCriteriaFilters:
      type: object
      description: The filter IDs to match results by.
      properties:
        eq:
          type: string
        notEq:
          type: string
        in:
          type: array
          items:
            type: string
        notIn:
          type: array
          items:
            type: string
      additionalProperties: false
    DataSetQueryCriteriaTimePeriods:
      type: object
      description: The time periods to match results by.
      properties:
        eq:
          $ref: '#/components/schemas/TimePeriodViewModel'
        notEq:
          $ref: '#/components/schemas/TimePeriodViewModel'
        gte:
          $ref: '#/components/schemas/TimePeriodViewModel'
        gt:
          $ref: '#/components/schemas/TimePeriodViewModel'
        lte:
          $ref: '#/components/schemas/TimePeriodViewModel'
        lt:
          $ref: '#/components/schemas/TimePeriodViewModel'
        in:
          type: array
          items:
            $ref: '#/components/schemas/TimePeriodViewModel'
        notIn:
          type: array
          items:
            $ref: '#/components/schemas/TimePeriodViewModel'
      additionalProperties: false
    DataSetQueryCriteriaGeographicLevels:
      type: object
      description: The geographic levels to match results by.
      properties:
        eq:
          $ref: '#/components/schemas/GeographicLevel'
        notEq:
          $ref: '#/components/schemas/GeographicLevel'
        in:
          type: array
          items:
            $ref: '#/components/schemas/GeographicLevel'
        notIn:
          type: array
          items:
            $ref: '#/components/schemas/GeographicLevel'
      additionalProperties: false
    DataSetQueryCriteriaLocations:
      type: object
      description: The location IDs or codes to match results by.
      properties:
        eq:
          type: string
        notEq:
          type: string
        in:
          type: array
          items:
            type: string
        notIn:
          type: array
          items:
            type: string
      additionalProperties: false
    DataSetQuerySort:
      type: object
      description: A sorting configuration to sort query results by.
      required:
        - name
      properties:
        name:
          type: string
          description: | 
            The name of the field to sort. This can be `TimePeriod`, a geographic level e.g. `Country` or a filter.
        order:
          type: string
          description: The direction that the field should be ordered. Defaults to ascending if none is set.
          default: Asc
          enum:
            - Asc
            - Desc
    DataSetViewModel:
      type: object
      description: Describes and provides high-level information about a data set.
      required:
        - id
        - name
        - content
        - timePeriods
        - geographicLevels
        - _links
      properties:
        id:
          type: string
          format: uuid
          description: The ID of the data set.
        name:
          type: string
          description: The name of the data set.
        content:
          type: string
          description: A description of the data set's contents.
        timePeriods:
          $ref: '#/components/schemas/TimePeriodLabels'
        geographicLevels:
          type: array
          description: The geographic levels available in the data set.
          items:
            type: string
        _links:
          $ref: '#/components/schemas/LinksViewModel'
      additionalProperties: false
    DataSetResultsViewModel:
      type: object
      description: Contains the results of a data set query, and any associated footnotes or meta (where applicable).
      required:
        - footnotes
        - paging
        - results
        - _links
      properties:
        footnotes:
          type: array
          description: The footnotes relevant to the data set query results.
          items:
            $ref: '#/components/schemas/FootnoteViewModel'
        paging:
          $ref: '#/components/schemas/PagingViewModel'
        results:
          type: array
          description: The results of the data set query.
          items:
            $ref: '#/components/schemas/DataSetRowViewModel'
        warnings:
          type: array
          description: |
            A list of potential issues with the query that may need to be resolved to provide better results.
          items:
            type: string
            description: The warning message.
        _links:
          $ref: '#/components/schemas/LinksViewModel'
      additionalProperties: false
    DataSetRowViewModel:
      type: object
      description: A row of data point measurements matching a set of facets (filters, indicators, locations, time periods).
      required:
        - filters
        - geographicLevel
        - locationId
        - values
        - timePeriod
      properties:
        id:
          type: string
          description: The ID of the row.
        filters:
          type: object
          description: | 
            A dictionary containing the row's associated filters. The key is the filter name and the value is ID of the filter item.
          additionalProperties:
            type: string
        geographicLevel:
          $ref: '#/components/schemas/GeographicLevel'
        locationId:
          type: string
          description: The ID of the location associated to this observation.
        values:
          type: object
          description: |
            A dictionary containing the row's data values. The key is the indicator name and the value is the measured indicator value.
          additionalProperties:
            type: string
        timePeriod:
          $ref: '#/components/schemas/TimePeriodViewModel'
      additionalProperties: false
    DataSetMetaViewModel:
      type: object
      description: All the metadata associated with the data set.
      required:
        - _links
        - totalResults
        - filters
        - indicators
        - locations
        - timePeriods
      properties:
        _links:
          $ref: '#/components/schemas/LinksViewModel'
        totalResults:
          type: number
          description: The total number of results.
          minimum: 0
        filters:
          type: array
          description: All the filters associated with the data set.
          items:
            $ref: '#/components/schemas/FilterMetaViewModel'
        indicators:
          type: array
          description: All the indicators associated with the data set.
          items:
            $ref: '#/components/schemas/IndicatorMetaViewModel'
        locations:
          type: object
          description: All the locations associated with the data set.
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/LocationMetaViewModel'
        timePeriods:
          type: array
          description: All the time periods associated with the data set.
          items:
            $ref: '#/components/schemas/TimePeriodMetaViewModel'
      additionalProperties: false
    ErrorDictionary:
      type: object
      description: |
        A dictionary of errors associated to a model.

        - The key relates to a specific property on the model, or the entire model when it is an empty string (`""`). 
        - The value is a list of error messages associated to the key.
      additionalProperties:
        type: array
        items:
          type: string
          description: The error message.
    FilterItemMetaViewModel:
      type: object
      description: A filterable facet (or characteristic) of a data point.
      required:
        - id
        - label
      properties:
        id:
          type: string
          format: uuid
          description: The ID of the filter item.
        label:
          type: string
          description: The human-readable label describing the filter item.
        isAggregate:
          type: boolean
          description: Whether the filter item is an aggregate (i.e. 'all' or a 'total') of the other filter items.
      additionalProperties: false
    FilterMetaViewModel:
      type: object
      description: |
        A group of filterable facets (or characteristics) for the data. This is composed of filter items.
      required:
        - label
        - options
        - name
      properties:
        id:
          type: string
          format: uuid
          description: The ID of the filter.
        hint:
          type: string
          description: A hint to assist in describing the filter.
        label:
          type: string
          description: The human-readable label describing the filter.
        options:
          type: array
          description: The filter item options belonging to this filter.
          items:
            $ref: '#/components/schemas/FilterItemMetaViewModel'
        name:
          type: string
          description: The name of the filter as it appears in the underlying data file.
      additionalProperties: false
    FootnoteViewModel:
      type: object
      description: A footnote associated with the data.
      required:
        - id
        - content
      properties:
        id:
          type: string
          format: uuid
          description: The ID of the footnote.
        content:
          type: string
          description: The content of the footnote.
      additionalProperties: false
    GeographicLevel:
      type: string
      description: The geographic group/level for a data point's location.
      enum:
        - EnglishDevolvedArea
        - LocalAuthority
        - LocalAuthorityDistrict
        - LocalEnterprisePartnership
        - Institution
        - MayoralCombinedAuthority
        - MultiAcademyTrust
        - Country
        - OpportunityArea
        - ParliamentaryConstituency
        - Provider
        - Region
        - RscRegion
        - School
        - Sponsor
        - Ward
        - PlanningArea
    IndicatorMetaViewModel:
      type: object
      description: The type of measurement taken by a data point.
      required:
        - id
        - label
        - unit
        - name
      properties:
        id:
          type: string
          format: uuid
          description: The ID of the indicator.
        label:
          type: string
          description: The human-readable label of the indicator.
        unit:
          $ref: '#/components/schemas/Unit'
        name:
          type: string
          description: The name of the indicator as it appears in the underlying data file.
        decimalPlaces:
          type: integer
          format: int32
          description: The optimal number of decimal places that the indicator should use when displayed.
      additionalProperties: false
    LinkViewModel:
      type: object
      description: A link to the endpoint for a related resource.
      required:
        - href
      properties:
        href:
          type: string
          description: The URI of the link.
        title:
          type: string
          description: The title of the link. Can help understand what the link relates to.
        method:
          type: string
          description: The HTTP method to use with this link.
      example:
        href: 'https://url-to-resource'
    LinksViewModel:
      type: object
      description: | 
        A map of links to related resources/endpoints. A link to the current resource (i.e. `self`) is always provided.
      required:
        - self
      properties:
        self:
          $ref: '#/components/schemas/LinkViewModel'
      additionalProperties:
        $ref: '#/components/schemas/LinkViewModel'
    LocationMetaViewModel:
      type: object
      description: The location that a data point was measured at.
      required:
        - id
        - level
        - label
        - code
      properties:
        id:
          type: string
          format: uuid
          description: The ID of this location.
        level:
          $ref: '#/components/schemas/GeographicLevel'
        options:
          type: array
          description: The child locations associated to this location.
          items:
            $ref: '#/components/schemas/LocationMetaViewModel'
        label:
          type: string
          description: The human-readable label for this location.
        code:
          type: string
          description: |
            The location's geographic code. 
            
            These can be:
            
            - ONS codes for higher geographic levels (countries, local authorities, etc)
            - DfE codes for lower geographic levels (schools, providers, etc)
      additionalProperties: false
    PagedPublicationSummaryViewModel:
      type: object
      additionalProperties: false
      required:
        - paging
        - results
        - _links
      properties:
        paging:
          $ref: '#/components/schemas/PagingViewModel'
        results:
          type: array
          items:
            $ref: '#/components/schemas/PublicationSummaryViewModel'
        _links:
          $ref: '#/components/schemas/LinksViewModel'
    PagingViewModel:
      type: object
      description: Provides metadata for use in pagination.
      additionalProperties: false
      required:
        - page
        - pageSize
        - totalResults
        - totalPages
      properties:
        page:
          type: number
          description: The current page number.
          minimum: 0
        pageSize:
          type: number
          description: The maximum number of results per page.
          minimum: 0
        totalResults:
          type: number
          description: The total number of results across all pages.
          minimum: 0
        totalPages:
          type: number
          description: The total number of pages.
          minimum: 0
    PublicationSummaryViewModel:
      type: object
      description: Provides summary information about a publication.
      required:
        - id
        - title
        - slug
        - _links
      properties:
        id:
          type: string
          format: uuid
          description: The ID of the publication.
        title:
          type: string
          description: The title of the publication.
        slug:
          type: string
          description: The URL slug of the publication.
        _links:
          $ref: '#/components/schemas/LinksViewModel'
      additionalProperties: false
    TimePeriodCode:
      enum:
        - AY
        - AYQ1
        - AYQ2
        - AYQ3
        - AYQ4
        - CY
        - CYQ1
        - CYQ2
        - CYQ3
        - CYQ4
        - P1
        - P2
        - FY
        - FYQ1
        - FYQ2
        - FYQ3
        - FYQ4
        - TY
        - TYQ1
        - TYQ2
        - TYQ3
        - TYQ4
        - RY
        - T1
        - T1T2
        - T2
        - T3
        - W1
        - W2
        - W3
        - W4
        - W5
        - W6
        - W7
        - W8
        - W9
        - W10
        - W11
        - W12
        - W13
        - W14
        - W15
        - W16
        - W17
        - W18
        - W19
        - W20
        - W21
        - W22
        - W23
        - W24
        - W25
        - W26
        - W27
        - W28
        - W29
        - W30
        - W31
        - W32
        - W33
        - W34
        - W35
        - W36
        - W37
        - W38
        - W39
        - W40
        - W41
        - W42
        - W43
        - W44
        - W45
        - W46
        - W47
        - W48
        - W49
        - W50
        - W51
        - W52
        - M1
        - M2
        - M3
        - M4
        - M5
        - M6
        - M7
        - M8
        - M9
        - M10
        - M11
        - M12
      type: string
      description: |
        The code describing a time period. This can be one of the following: 

        - `AY` - Academic year
        - `AYQ1-4` - Academic year quarter 1 to 4
        - `CY` - Calendar year
        - `RY` - Reporting year
        - `P1` - Part 1 (April to September)
        - `P2` - Part 2 (October to March)
        - `FY` - Financial year
        - `FYQ1-4` - Financial year quarter 1 to 4
        - `TYQ1-4` - Tax year quarter 1 to 4
        - `W1-52` - Week 1 to 52
        - `M1-12` - Month 1 to 12
    TimePeriodLabels:
      type: object
      description: Describes a time period in human-readable format.
      required:
        - start
        - end
      properties:
        start:
          type: string
          description: The starting time period in human-readable format.
        end:
          type: string
          description: The ending time period in human-readable format.
      additionalProperties: false
    TimePeriodViewModel:
      type: object
      description: A compact representation of a time period.
      required:
        - code
        - year
      properties:
        code:
          $ref: '#/components/schemas/TimePeriodCode'
        year:
          type: integer
          format: int32
          description: The year that the time period relates to.
    TimePeriodMetaViewModel:
      type: object
      description: A representation of a time period including a human-readable label.
      allOf:
        - $ref: '#/components/schemas/TimePeriodViewModel'
        - type: object
          required:
            - label
          properties:
            label:
              type: string
              description: The time period in human-readable format.
    Unit:
      enum:
        - ''
        - '%'
        - £
        - £m
        - pp
      type: string
      description: A numeric unit.
